{% extends 'blog/base.html' %}
{% block page_header %}
    <section class="jumbotron text-center">
    <div class="container">
      <h1>Almaz Iztay Blog</h1>
      <p class="lead text-muted">Something short and leading about the collection below—its contents, the creator, etc. Make it short and sweet, but not too short so folks don’t simply skip over it entirely.</p>
      {% if user.is_authenticated %}
        <h2>Hello<strong> {{user.username}}</strong></h2>
        {% else %}
            <p>
        <a href="{% url 'login' %}" class="btn btn-primary my-2">LOG IN</a>
        <a href="{% url 'users:register' %}" class="btn btn-secondary my-2">SIGN UP</a>
      </p>
        {% endif %}
    </div>
  </section>
{% endblock page_header %}
{% block content %}
          {% for post in posts %}
        <div class="col-md-4">
          <div class="card mb-4 shadow-sm">
            <svg class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: Thumbnail"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"/><text x="50%" y="50%" fill="#eceeef" dy=".3em">{{ post.title }}</text></svg>
            <div class="card-body">
              <p class="card-text">{{ post.text|slice:":100" }}</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                    <button type="button" class="btn btn-sm btn-outline-secondary"><a href="{% url 'post_detail' pk=post.pk %}">View</a></button>
                  <button type="button" class="btn btn-sm btn-outline-secondary">Comments: {{ post.comments.count }}</button>
                </div>
                  {{ post.published_date }}
              </div>
            </div>
          </div>
        </div>
    {% endfor %}
{% endblock content %}
